body{
  background:#f2f2f2;
}
input[type="button"], input[type="submit"], input[type="reset"] {
-webkit-appearance: none;
}
.button{ border-radius: 0; }

.ipad input:disabled {

-webkit-text-fill-color: rgba(0, 0, 0, 1);

-webkit-opacity: 1;

}
*{
		 -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; tap-highlight-color:rgba(0,0,0,0); tap-highlight-color:transparent;
	}


  @media screen and (min-height:471px){
    .warp_All_zz{
      position: relative;
      margin: 0 auto;
      min-width: 320px;
      max-width: 640px;
      height:500px;
      font-family: "微软雅黑";
      text-align: center;
    }
  }
  @media screen and (min-height:560px){
    .warp_All_zz{
      position: relative;
      margin: 0 auto;
      min-width: 320px;
      max-width: 640px;
      height:568px;
      font-family: "微软雅黑";
      text-align: center;
    }
  }
  @media screen and (min-height:625px){
    .warp_All_zz{
      position: relative;
      margin: 0 auto;
      min-width: 320px;
      max-width: 640px;
      height:627px;
      font-family: "微软雅黑";
      text-align: center;
    }
  }
  @media screen and (min-height:730px){
    .warp_All_zz{
      position: relative;
      margin: 0 auto;
      min-width: 320px;
      max-width: 640px;
      height:736px;
      font-family: "微软雅黑";
      text-align: center;
    }
  }

.warp_All_zz{
  position: relative;
  margin: 0 auto;
  min-width: 320px;
  max-width: 640px;
  font-family: "微软雅黑";
  text-align: center;
}
.message_all{
  margin:0 0.3rem;
  text-align: center;
}
/*转账第一步部分样式开始*/
.zz_user_pic{
  width:1.2rem;
  height:1.2rem;
  border-radius: 50%;
  overflow: hidden;
  margin:1rem auto 0;
}
.zz_user_pic img{
  width:100%;
  height:100%;
}
.tit_mes{
  text-align: left;
  font-size: 0.26rem;
  color:#333;
  margin-top: 0.6rem;
}
.zr_accont_div{
  width:100%;
  height:0.9rem;
  background: #fff;
  margin:0.1rem auto;
  position: relative;
  border-radius: 5px;
}
#zr_accont{
  width:95%;
  height:0.5rem;
  background: #fff;
  font-size: 0.26rem;
  line-height: 0.5rem;
  position: absolute;
  left:5%;
  top:0.2rem;
  border-radius: 4px;
}
.tit_mes1{
  text-align: left;
  font-size: 0.2rem;
  color:#333;
  color:#fc5f01;
}
.jings_icon{
  width: 0.2rem;
    height: auto;
    margin: 0.02rem 0.1rem 0 0;
}
.next_btn{
  width:100%;
  height:0.9rem;
  line-height: 0.9rem;
  text-align: center;
  font-size:0.3rem;
  color:#fff;
  background: #c0c0c0;
  margin-top:0.4rem;
  border-radius: 5px;
}
/*转账第一步部分样式结束*/

/*转账第二步部分样式开始*/
.user_name{
  font-size: 0.26rem;
  color:#333;
  margin:0.2rem auto;
}
.user_accont{
  font-size: 0.26rem;
  color:#a2a2a2;
}
.color_2{
  color:#a2a2a2;
}
.sr_left{
  width:1rem;
  text-align: center;
  font-size: 0.26rem;
  line-height: 0.6rem;
  height:0.6rem;
  display: inline-block;
  border-right:1px solid #d2d2d2;
  position: absolute;
  top:0.15rem;
  left:0;
}
#zz_wd{
  width:70%;
  height:0.6rem;
  font-size: 0.26rem;
  line-height: 0.6rem;
  position: absolute;
  top:0.15rem;
  left:1.15rem;
}
.confirm_btn{
  width:100%;
  height:0.9rem;
  line-height: 0.9rem;
  text-align: center;
  font-size:0.3rem;
  color:#fff;
  background: #c0c0c0;
  margin-top:0.7rem;
  border-radius: 5px;
}

.wanshan{
  position: absolute;
  top:4rem;
  left:15%;
  width: 70%;
  height: 2rem;
  text-align: center;
  background: #ffffff;
  z-index: 9999999;
  border-radius: 5px;
  opacity: 0.9;
  color: #000;
  font-size: 0.25rem;
  line-height: 1rem;
}
.btns{
  width:90%;
  margin: 0px auto;
  border-top:1px solid #eee;
}
.btns span{
  width: 48%;
  text-align: center;
  display: inline-block;
  border-right:1px solid #eee;
}
.btns span:first-child{
  color:#bbb;
}
.btns span:last-child{
  color:#fc5f01;
  border-right:none;
}

/*转账第二步部分样式结束*/

/*转账第三步部分样式开始*/
.pt_mes_ts{
  margin-top:0.8rem;
  font-size:0.26rem;
}
.zhuanz_ts{
  margin-top:0.25rem;
  font-size:0.26rem;
}
.color_1{
  color:#fc5f01;
}
.bg_1{
  background:#fc5f01;
}
.mm{
  margin-top:0.8rem;
  height:1rem;
  z-index:9;
  background:#f2f2f2;
}
.password{
  background: #fff;
  width:16%;
  height:1rem;
  line-height: 0.5rem;
  text-align: center;
  background: #fff;
  margin-right:0.6%;
  z-index:10;
}
.password_d{
  width:0.18rem;
  height:0.18rem;
  display: inline-block;
  border-radius: 50%;
  background:#000;
}
#mm_input{
  width:100%;
  height:100%;
  position: absolute;
  top:0;
  left:0;
  opacity: 0;
  z-index: 90;
}
.mc_zhuanz{
  width:2.6rem;
  height:2rem;
  background: #000;
  opacity:0.7;
  position: absolute;
  top:3rem;
  left:1.9rem;
  border-radius: 10px;
  z-index: 30;
}
.zhuanz_jingx{
  width:2.6rem;
  height:2rem;
  font-size:0.26rem;
  color:#fff;
  position: absolute;
  top:3rem;
  left:1.9rem;
  border-radius: 10px;
  text-align: center;
  z-index: 35;
}
.wo_icon{
  margin-top:0.3rem;
}
.mr_t_1{
  margin-top:0.3rem;
}
.zhuanz_lb{
  margin:0.2rem auto;
  width:36%;
}
.zhuanz_lb li{
  float:left;
  width:33%;
}
.zhuanz_lb_div_1{
  width:0.2rem;
  height:0.2rem;
  border-radius: 50%;
  background: #999;
}
.zhuanz_lb_div_2{
  width:0.17rem;
  height:0.17rem;
  margin-top:0.015rem;
  border-radius: 50%;
  background: #8a8a8a;
}
.zhuanz_lb_div_3{
  width:0.14rem;
  height:0.14rem;
  margin-top:0.03rem;
  border-radius: 50%;
  background: #626262;
}
.color_3{
  background:#fff!important;
}
#szjp{
  width:6rem;
  position: absolute;
  left:0.2rem;
  bottom:0;
}

.szjp_li{
  float:left;
  width:1.9rem;
  height:1rem;
  font-size:0.5rem;
  line-height: 1rem;
  text-align: center;
}

.bor_no_1{
  border:1px solid #e0e0e0;
}
.bor_no_2{
  border-top:1px solid #e0e0e0;
  border-bottom:1px solid #e0e0e0;
}
.bor_no_3{
  border-left:1px solid #e0e0e0;
  border-right:1px solid #e0e0e0;
}
.bor_no_4{
  border-bottom:1px solid #e0e0e0;
}
.bg_2{
  background:#eee;
}


/*转账第三步部分样式结束*/

/*转账结果部分样式开始*/
.result_pic{
  width:1.1rem;
  height:1.1rem;
  margin:0.7rem auto 0.3rem;
}
.result_state{
  font-size: 0.32rem;
  color:#333;
}
.zhuanz_text{
  font-size:0.26rem;
  color:#999;
  margin-top:0.05rem;
}
.zz_jine{
  color:#fc5f01;
}

.result_btn{
  font-size:0.26rem;
  color:#fff;
  height:0.9rem;
  line-height: 0.9rem;
  text-align: center;
  width: 100%;
  background: #fc5f01;
  border-radius:5px;
  margin-top:0.9rem;
}
.font_jj{
    letter-spacing: 3px;
}
.fail_btn{
  margin-top:1.29rem;
}

/*转账结果部分样式结束*/
